html{
    scroll-behavior: smooth;
}


.carousel-item img{
    height: 400px;
}

h2{
    
    color: white;
    font-size: 300;
}

body{
    background-color: black;
    font-family: 'Montserrat', sans-serif
}


.container{
    display: inline;
    color: white;
}

footer i{
    font-size: 35px;
    display: inline-block;
    padding-bottom: 0%;
}

.navbar-brand{
    height: 30px;
}

.navbar img{
    height: 53px;
    padding-left: 60px;}

.card{
    background-color: black;
    color: white;
    }

.icon-section i{
    text-align: right;
    font-size: 50px;
}

.border img{
    height: 160px;
    width: 100%;
}


.card i{
    font-size: 35px;
}

footer i{
    text-decoration: none;
    color: white;
}